[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "themes/mainroad-child"]
	path = themes/mainroad-child
	url = https://github.com/filippodanesi/mainroad-child.git
